<div>
  <h1>Lista de productos:</h1>
  <table>
    {{#each products}}
      <tr>
        <td>Titulo: {{this.title}}</td>
        <td>Descripcion: {{this.description}}</td>
        <td>Precio: {{this.price}}</td>
        <td>Status: {{this.status}}</td>
        <td>Thumbnail: {{this.thumbnail}}</td>
        <td>Code: {{this.code}}</td>
        <td>Stock: {{this.stock}}</td>
        <td>Id: {{this.id}}</td>
      </tr>
    {{/each}}
  </table>
</div>